# Mac OS
.DS_Store
*~

# Vim
.*.s[a-w][a-z]
Session.vim

# VSCode
.vscode

# Data
*.csv
*.ini
*.npy
*.zip
*.hdf5
*screenlog*
test.mp4
recordings/
videos/
demos/
results/
figures/
backup/

# MuJoCo
MUJOCO_LOG.TXT

# Unity
UnitySDK.log
binary/
unity-xml/
unity-log/
furniture-unity/*.sln
furniture-unity/[Ll]ibrary/
furniture-unity/[Ll]ogs/
furniture-unity/[Tt]emp/
furniture-unity/[Oo]bj/
furniture-unity/[Bb]uild/
furniture-unity/[Bb]uilds/
furniture-unity/Assets/AssetStoreTools*
furniture-unity/Assets/Resources/[Tt]emp*
furniture-unity/Assets/StreamingAssets
furniture-unity/.vs
furniture-unity/Assembly-CSharp-Editor.csproj
furniture-unity/*.csproj

# Python
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## C extensions
#*.so

## Distribution / packaging
.Python
build/
*.egg-info/
.installed.cfg
*.egg

## Jupyter Notebook
.ipynb_checkpoints

## Virtual environment
.python-version
.venv
venv/

## WandB
wandb/

## Jupyter notebook
**/*.ipynb
.ipynb_checkpoints
