numpy
scipy
requests
wandb
colorlog
tqdm
glfw
gym
imageio
imageio-ffmpeg
ipdb
moviepy
mpi4py
mujoco-py
opencv-python
openvr
Pillow
pybullet==1.9.5
pyquaternion
scipy
six
hjson
torch
torchvision
absl-py
git+git://github.com/deepmind/dm_control.git
git+git://github.com/1nadequacy/dmc2gym.git
